.phone-input-container {
    margin-bottom: 10px;
  }
  
  .phone-input-wrapper {
    margin-top: 3%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px;
    height: 50%
  }
  
  .phone-input-wrapper span {
    margin-right: 5px;
  }
  
  .divider {
    height: 100%;
    border-left: 1px solid #ccc;
    margin: 0 5px;
  }
  
  .desktopView {
    display: block;
    overflow: hidden;
  }
  
  .mobileView {
    display: none;
  }
  
  .horizantal_line {
    border: 1px solid white !important;
    margin: 0px 30px !important;
  }
  
  .horizantal_line_mobile {
    border: 1px solid white !important;
    margin: 0px 0px !important;
  }
  
  .horizantal_line_terms_condition{
    border: 1px solid black !important;
    margin: 0px 0px !important;
  }
  
  .card-header .title {
    font-size: 17px;
    color: #000;
  }
  
  .card-header .accicon {
    float: right;
    font-size: 20px;
    width: 1.2em;
  }
  
  .card-header {
    cursor: pointer;
    border-bottom: none;
  }
  
  .card {
    border: 1px solid #ddd;
  }
  
  .card-body {
    border-top: 1px solid #ddd;
  }
  
  .card-header:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
  }
  
  .play_store {
    padding-left: 320% !important;
  }
  
  .mobile_banner {
    /* background-image: url(${mobileBanner}); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    /* height: auto !important; */
    /* max-height: 390vh; */
    height: 3000px;
  }

  .desktopbanner{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 780px; 
    width: 100%;
  }

  .desktoptostart{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 190vh; 
    width: 100%;
  }
  
  
  @media only screen and (max-width: 600px) {
    .desktopView {
      display: none;
    }
  
    .mobileView {
      display: block;
    }
  }
  
  @media only screen and (min-width: 375px) {
    .mobile_banner {
      height: 2600px;
      /* or any other unit you find suitable */
    }
  }
  
  
  
  @media only screen and (min-width: 390px) {
    .mobile_banner {
      height: 2800px ;
      /* or any other unit you find suitable */
    }
  }
  
  @media only screen and (min-width: 410px) {
    .mobile_banner {
      height: 3000px;
      /* or any other unit you find suitable */
    }
  }
  
  @media only screen and (min-width: 430px) {
    .mobile_banner {
      height: 3000px;
      /* or any other unit you find suitable */
    }
  }
  
  @media only screen and (min-width: 460px) {
    .mobile_banner {
      height: 3200px;
      /* or any other unit you find suitable */
    }
  }

  @media only screen and (min-width: 2400px) {
    .desktopbanner{
        height: 970px !important; 
      }
      .desktoptostart{
        height: 200vh; 
      }
  }